<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hike Profile</title>
    <link rel="stylesheet" href="hike-profile.css">
</head>
<body>
  <header>
        <h1>Hike Details</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/all">Overview</a></li>
            </ul>
        </nav>
    </header>


        <div class="hike-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcbf6QFY7RFMj9IKch_TVNKrgrQ_AAxpjYLw&s" alt="Mountain Image" class="hike-image">
            <div class="hike-details">
                <h2 class="username">JohnDoe</h2>
                <p><strong>Mountain:</strong> Mount Everest</p>
                <p><strong>Year Hiked:</strong> 2022</p>
                <p><strong>Location:</strong> Nepal</p>
                <p><strong>Distance:</strong> 35 miles</p>
            </div>
        </div>
    

</body>
</html>
